* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Mulish', sans-serif;
}

a {
   text-decoration: none;
   color: inherit;
}

button,
input {
   border: none;
}

.centered {
   width: 80%;
   margin: 0 auto;
   max-width: 1140px;
   height: 100%;
}

@mixin centered {
   width: 80%;
   margin: 0 auto;
   max-width: 1140px;
}

.btn {
   background-color: #69AA53;
   color: white;
   padding: 13px 29px;
   border-radius: 25px;
}
