#jumbotron {
   img {
      width: 100%;
      vertical-align: middle;
   }
}


#jumbotron-text {
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
}

#jumbotron-text__inner {
   @include centered;
   height: 100%;
   padding-top: 21%;
   color: white;
   h1 {
      font-size: 60px;
      margin-bottom: 10px;
   }
   h2 {
      font-size: 26px;
   }

}
